@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
}

#buttonContainerDiv {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	background-color: blue;
	padding: 1px;
	height: 100%;
	box-sizing: border-box;
}

.buttonDiv {
	width: 150px;
	height: 80px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	margin: 1px;
	padding: 0 4px 0 4px;
	box-sizing: border-box;
	display: table;
	vertical-align: middle;

}

.buttonDiv p {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	color: white;
	margin: 0px;
	padding: 0px;
}

#redDiv {
	background-color: #F33;
}

#innerDiv {
	background-color: yellow;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	visibility: hidden;
}

.mouseOver {
	background-color: green;
}

.clickedBtn {
	background-color: yellow;
}

#newButtonDiv {
	width: 150px;
	height: 80px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: orange;
	margin: 1px;
	padding: 0 4px 0 4px;
	box-sizing: border-box;
}

.btnTitleDiv {
	background-color: black;
	display: table;
	vertical-align: middle;

}


	