@charset "UTF-8";

/* CSS Document */

div {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    font-family: 'Open Sans';
}

#buttonContainerDiv {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: yellow;
    height: 100%;
    box-sizing: border-box;
}

.buttonDiv {
    display: table;
    width: 80px;
    height: 80px;
    border-top: 1px solid #635469;
    background-color: #48485D;
    padding: 0 4px 0 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    color: white;
    letter-spacing: 0.03em;
    box-sizing: border-box;
}

.btnTitleDiv {
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    opacity: .65;
}

.buttonDiv.clicked {
    background-color: lightgray;
    color: #342e3b;
    border-top: 0px;
    letter-spacing: 0.01em;
    font-weight: 700;
}

#innerDiv {
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    visibility: hidden;
}

.mouseOver {
    background-color: green;
}

#newButtonDiv {
    width: 150px;
    height: 80px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    margin: 1px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
}
