@charset "UTF-8";

/* CSS Document */

div {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

#topBar {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: indianred;
}

#mainWindow {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.leftButtonContainer {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    background-color: yellow;
}

.rightButtonContainer {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    background-color: yellow;
}

.leftButton {
    display: table;
    width: 68px;
    height: 100%;
    border-top: 1px solid #635469;
    background-color: #48485D;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    color: white;
    letter-spacing: 0.02em;
    box-sizing: border-box;
}

.rightButton {
    display: table;
    width: 86px;
    height: 100%;
    border-top: 1px solid #635469;
    background-color: #48485D;
    padding: 0 4px 0 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    color: white;
    letter-spacing: 0.04em;
    box-sizing: border-box;
}

.leftButtonTitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: .65;
}

.rightButtonTitle {
    display: table-cell;
    vertical-align: middle;
    opacity: .65;
}

.leftButton.clicked {
    background-color: lightgray;
    color: #342e3b;
    border-top: 0px;
    letter-spacing: 0.0em;
    font-weight: 800;
}

.rightButton.clicked {
    background-color: lightgray;
    color: #342e3b;
    border-top: 0px;
    letter-spacing: 0.0em;
    font-weight: 800;
}

#innerDiv {
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    visibility: hidden;
}

.mouseOver {
    background-color: green;
}

#newButtonDiv {
    width: 150px;
    height: 80px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    margin: 1px;
    padding: 0 4px 0 4px;
    box-sizing: border-box;
}

#titleBar {
    position: absolute;
    height: 100%;
    background-color: cadetblue;
    left: 68px;
    right: 86px;
}

.titleBarText {
    color: white;
    opacity: .8;
    font-size: 14px;
    font-weight: 300;
    padding-left: 16px;
    letter-spacing: 0.03em;
    height: 50px;
    margin: 0;
    line-height: 50px;
}
